
*.jpg
*.png
*.jpeg
*.svg
*.gif
*.asp
*.jpg')
wordembedding word2vec odd one out challenge/glove.6B.50d.txt
wordembedding word2vec odd one out challenge/word2vec.txt
convlution neural network pokedex/dataset.zip
